In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv (r"C:\Users\Anderson\Downloads\framingham.csv")
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [7]:
df = df.dropna()
df.isna().sum().sum()
df.duplicated().sum()

0

In [8]:
df.groupby('TenYearCHD').count()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
TenYearCHD,,,,,,,,,,,,,,,
0,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099
1,557,557,557,557,557,557,557,557,557,557,557,557,557,557,557

In [9]:
X = df.drop('TenYearCHD',axis = 1)
y = df['TenYearCHD']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size = 0.2)

LR = LogisticRegression()
LR.fit(X_train, y_train)

LR.score(X_test, y_test)

0.8319672131147541

In [10]:
pred = LR.predict(X_test)

print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))

precision:  0.47619047619047616
recall:  0.08196721311475409
f1:  0.13986013986013984

In [11]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.84      0.98      0.91       610
           1       0.48      0.08      0.14       122

    accuracy                           0.83       732
   macro avg       0.66      0.53      0.52       732
weighted avg       0.78      0.83      0.78       732

In [13]:
confusion_matrix(y_test,pred)

array([[599,  11],
       [112,  10]], dtype=int64)

In [14]:
predicted_probabilities = LR.predict_proba(X_test)[:,1]
predicted_probabilities

custom_threshold = 0.3  
custom_predictions = (predicted_probabilities >= custom_threshold).astype(int)

In [15]:
confusion_matrix(y_test,custom_predictions)

array([[555,  55],
       [ 93,  29]], dtype=int64)

In [16]:
custom_threshold = 0.1  
custom_predictions = (predicted_probabilities >= custom_threshold).astype(int)

In [17]:
confusion_matrix(y_test,custom_predictions)

array([[292, 318],
       [ 32,  90]], dtype=int64)

In [18]:
print(classification_report(y_test,custom_predictions))

              precision    recall  f1-score   support

           0       0.90      0.48      0.63       610
           1       0.22      0.74      0.34       122

    accuracy                           0.52       732
   macro avg       0.56      0.61      0.48       732
weighted avg       0.79      0.52      0.58       732

In [19]:
train = pd.concat([X_train, y_train],axis=1)
display(train.shape)
train.head()

(2924, 16)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
780,0,46,3.0,1,20.0,0.0,0,0,0,253.0,118.0,82.0,19.70,100.0,70.0,0
2218,1,43,2.0,1,20.0,0.0,0,0,0,226.0,132.5,85.0,26.64,72.0,58.0,0
3251,0,48,3.0,1,20.0,0.0,0,0,0,259.0,129.0,81.0,21.08,75.0,65.0,0
3482,1,38,2.0,0,0.0,0.0,0,1,0,256.0,123.0,92.0,25.42,62.0,82.0,0
2662,0,51,1.0,0,0.0,0.0,0,1,0,285.0,151.5,79.0,26.91,84.0,76.0,0

In [20]:
no_CHD = train[train['TenYearCHD']==0]
yes_CHD = train[train['TenYearCHD']==1]

display(no_CHD.shape)
display(yes_CHD.shape)

(2489, 16)

(435, 16)

In [22]:
from sklearn.utils import resample

#minority oversample
yes_CHD_oversampled = resample(yes_CHD, #<- oversample from here 
                                    replace=True, #<- we need replacement, since we don't have enough data otherwise
                                    n_samples = len(no_CHD),#<- make both sets the same size # make the yes_CHD set equal to the size of no_CHD
                                    random_state=0)

# both sets are now of a reasonable size
display(no_CHD.shape)
display(yes_CHD_oversampled.shape)

(2489, 16)

(2489, 16)

In [23]:
train_oversampled = pd.concat([no_CHD,yes_CHD_oversampled])
train_oversampled.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
780,0,46,3.0,1,20.0,0.0,0,0,0,253.0,118.0,82.0,19.70,100.0,70.0,0
2218,1,43,2.0,1,20.0,0.0,0,0,0,226.0,132.5,85.0,26.64,72.0,58.0,0
3251,0,48,3.0,1,20.0,0.0,0,0,0,259.0,129.0,81.0,21.08,75.0,65.0,0
3482,1,38,2.0,0,0.0,0.0,0,1,0,256.0,123.0,92.0,25.42,62.0,82.0,0
2662,0,51,1.0,0,0.0,0.0,0,1,0,285.0,151.5,79.0,26.91,84.0,76.0,0

In [25]:
y_train_over = train_oversampled['TenYearCHD']
X_train_over = train_oversampled.drop('TenYearCHD',axis = 1)

In [26]:
LR = LogisticRegression(max_iter = 1000)
LR.fit(X_train_over, y_train_over)
pred = LR.predict(X_test)

print("Accuracy: ",LR.score(X_test, y_test))

print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))

print(classification_report(y_test, pred))

Accuracy:  0.6762295081967213
precision:  0.2846441947565543
recall:  0.6229508196721312
f1:  0.39074550128534696
              precision    recall  f1-score   support

           0       0.90      0.69      0.78       610
           1       0.28      0.62      0.39       122

    accuracy                           0.68       732
   macro avg       0.59      0.65      0.59       732
weighted avg       0.80      0.68      0.71       732

In [27]:
onfusion_matrix(y_test,pred)

NameError: name 'onfusion_matrix' is not defined